  html        { height: 100%;   }
  body        { height: 100%;    margin: 0px;    padding: 0px;     font-size: 12px;              font:12px/150% "\5b8b\4f53",Arial,Verdana;color:#666;background:#f8f8f8;      }
#container{width:70%; height:100%; float:left;}
#list{width:49%; height:100%; float:left; overflow-y:auto;} 
/* 定义自定义信息窗体样式 */
div.info {position: relative;z-index: 100;border: 1px solid #BCBCBC;box-shadow: 0 0 10px #B7B6B6;border-radius: 8px;background-color: rgba(255,255,255,0.9);transition-duration: 0.25s;}
div.info:hover {box-shadow: 0px 0px 15px #0CF;}
div.info-top {position: relative;background: none repeat scroll 0 0 #F9F9F9;border-bottom: 1px solid #CCC;border-radius:5px; width:100px;text-align:center;}
div.info-top div {display: inline-block;color: #333333;font-size:12px;font-weight:bold;line-height:24px;  text-align:center;} 


#box{width:320px;font-size:12px}  
 #box ul{margin:0;padding:0;list-style:none}  
 #box #tab{height:26px;border-bottom:1px solid #dfdfdf}  
 W #box #tab li{width:100px;height:18px;padding-top:8px;margin-right:10px;text-align:center;float:left;cursor:pointer;position:relative;top:1px;background:url(/images/tab_bg.gif)}  
 #box #tab li.on{color:#00f;background-position:-110px 0}  
  #box #tab_con{border:1px solid #dfdfdf;border-top:none;padding:20px}  
  #box #tab_con li{display:none}  
  #box #tab_con #tab_con_1{display:block}   
 
#post_list{margin-top:0;padding-left:5px;padding-right:0;padding-top:10px; margin:0px; overflow-y:auto; overflow-x:hidden; height:681px; }
#post_list_title{height:28px}
#post_list h3{font-size:14px;margin:0 0 5px 0}
.post_item_body{margin-left:50px;padding-top:1px; }
.post_item{border-bottom:1px dotted #ccc;border-width:1px; padding-bottom:15px}
.post_item_summary{line-height:16px; margin:0 0 5px 0;  color:#333;overflow:hidden;padding-right:5px;font-size:12px;padding-top:5px}
.post_item_img{padding-right:5px;float:right}

.tooltip {font-size: 10px;position: absolute;padding: 5px;z-index: 100000;opacity: 0.8;}
.tipsy-arrow {position: absolute;width: 0;height: 0;line-height: 0;border: 6px dashed #000;top: 0px;left: 20%;margin-left: -5px;border-bottom-style: solid;border-top: none;border-left-color: transparent;border-right-color: transparent;}
.tipsy-arrow-n {border-bottom-color: #000;}
.tipsy-inner {background-color: #000;color: #FFF;max-width: 200px;padding: 5px 8px 4px 8px;text-align: center;border-radius: 3px;}


/* 定义自定义点样式 */  
.markerContentStyleBuild{position:relative; width:30px;} 
.markerContentStyleBuild  img{ position:absolute; left:-13px; top:-41px;}
.markerContentStyleBuild span{	background-color: #ffef01;   	width:60px; cursor: pointer;	 border:2px solid #FFF; 	position:absolute; 	text-align:center;	white-space:nowrap	-webkit-border-radius:5px; left:-27px;border-radius:5px; color:#636363;}
 
.markerContentStyleUse{position:relative; width:30px;} 
.markerContentStyleUse  img{ position:absolute; left:-13px; top:-41px;}
.markerContentStyleUse span{	background-color: #b6d45d;   	width:60px;	 cursor: pointer; border:2px solid #FFF; 	position:absolute; 	text-align:center;	white-space:nowrap	-webkit-border-radius:5px; left:-27px;border-radius:5px; color:#636363; } 
